<div class="container">
    <h2>Login</h2>

    <form [formGroup]="form" (ngSubmit)="login()">
        <fieldset>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" name="email"
                    placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" name="password"
                    placeholder="Enter your password" autocomplete="off"/>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Log In</button>
            <a routerLink="/" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>